
*{
    padding: 0;
    margin: 0;
  }
  body{
    background-image: url('/bg6-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .app{
    padding: 7px;
    box-shadow: 0px 0px 5px white inset;
    border-radius: 7px;
    background-color: rgba(0,0,0, 0.8);
    text-align: center;
    width: 400px;
    max-width: 90%;
    animation: a 1s;
    margin: auto;
    margin-top: 20px;
  }

  @keyframes a{
    from{opacity: 0%;transform: translateY(30%);}
    to{opacity: 100%;transform: translateY(0%);}
  }
  
  .head{
    font-size: 30px;
    font-weight: bold;
    color:yellow;
    text-shadow: 0px 0px 2px white;
  }
  .year{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
  }
  .year b{
    color: transparent;
    background-image: linear-gradient(to right, yellow,aqua);
    background-clip: text;
    text-align: center;
    width: fit-content;
  }
  .wish{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0px;
    font-size: 27px;
    color: aqua;
  }
  .from{
    text-align: right;
    color: white;
  }
  .from b{
    color: yellow;
  }
  .from .nam{
    font-family: cursive;
    font-size: larger;
  }
  .inputBox{
    display: none;
  }
  label{
    color: white;
  }
  input{
    border-radius: 5px;
    border: none;
    height: 27px;
    padding: 3px;
    outline-color: aqua;
    transition: 1s;
    box-shadow: 0px 0px 0px red;
    border: 0px solid red;
  }
  .btnWish{
    border: none;
    border-radius: 5px;
    padding: 7px;
    background-color: yellow;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
    font-size: 15px;
  }
  .btnWish:hover{
    font-size: 15px;
  }
  .btnWish:active{
    font-size: 0px;
  }
  .reset{
    background-color: orange;
    border: none;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    transition: .3s;
  }
  .reset:active{
    transform: scale(.7);
  }
  .share button{
    padding: 7px;
    background-color:rgb(28, 89, 255);
    border: none;
    border-radius: 4px;
    color: white;
  }